<%= form_for @order, :url => orders_path, :html => { :multipart => true } do |form| %>
    <div>
      <%= form.label :design %><br>
      <%= form.file_field :design, class: 'dropzone' %>
    </div>

    <div>
      <%= form.label :city %>
      <%= form.text_field :city, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :state %>
      <%= form.text_field :state, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :zipcode %>
      <%= form.number_field :zipcode, class: 'form-control' %>
    </div> <br>

    <div class="actions">
      <%= form.submit class: 'btn btn-success' %>
    </div>
<% end %>