<% if (@orders.length > 0) %>

<div class="row">
  <div class = "col-md-4"></div>

  
  <% @orders.each do |order| %>
    <%= link_to 'www.google.com' do %>
      <i class="fa fa-paperclip"></i>
    <% end %>
  
  <div class="panel panel-default col-md-4">

    <div class="panel-heading">
      <h4>Order #<%= order.id + 19 %></h4>
    </div>
  
    <div class = "panel-body">
      <strong>Number of copies:</strong> <%= order.recipients.count %> <br>
      <strong>Order date:</strong> <%= order.order_date %><br>
      <strong>Paper Setting:</strong> <%= order.setting %><br>
      <strong>Total Cost:</strong> $<%= order.expenses %><br>
    </div> <br>
    
  </div>

  <div class = "col-md-4"></div>

  <% end %>
</div>

<% else %>
  No orders yet!
<% end %>